# Adecuando pandas para su instalación

In [30]:
import pandas as pd
import numpy as np
datos = [["Helena", "F", "Bucaramanga", "13"],
         ["Esteban", "M", "Medellin", "24"],
         ["Edith", "F", "Bucaramanga", "59"],
         ["Jairo", "M", "Cúcuta", "60"],
         ["José", "M", "Cali", "45"]]

df = pd.DataFrame(datos)
print(df)

         0  1            2   3
0   Helena  F  Bucaramanga  13
1  Esteban  M     Medellin  24
2    Edith  F  Bucaramanga  59
3    Jairo  M       Cúcuta  60
4     José  M         Cali  45

podemos agregar las columnas para que sea mas legible

In [31]:
columnas = ["Nombre", "Genero", "Ciudad", "Edad"]
df = pd.DataFrame(datos, columns = columnas)
print(df)

    Nombre Genero       Ciudad Edad
0   Helena      F  Bucaramanga   13
1  Esteban      M     Medellin   24
2    Edith      F  Bucaramanga   59
3    Jairo      M       Cúcuta   60
4     José      M         Cali   45

In [32]:
#index
indices=["a","b","c","d","e"]
df=pd.DataFrame(datos, index=indices, columns=columnas)
print(df)

    Nombre Genero       Ciudad Edad
a   Helena      F  Bucaramanga   13
b  Esteban      M     Medellin   24
c    Edith      F  Bucaramanga   59
d    Jairo      M       Cúcuta   60
e     José      M         Cali   45

In [33]:
df["profesion"]=["ingeniero mecanico", "psicologo", "escritor", "psicologo","conductor"]
print(df)

    Nombre Genero       Ciudad Edad           profesion
a   Helena      F  Bucaramanga   13  ingeniero mecanico
b  Esteban      M     Medellin   24           psicologo
c    Edith      F  Bucaramanga   59            escritor
d    Jairo      M       Cúcuta   60           psicologo
e     José      M         Cali   45           conductor

In [34]:
df["salario"] = np.random.randint(1500,4700,size=len(df))*1000
print(df)

    Nombre Genero       Ciudad Edad           profesion  salario
a   Helena      F  Bucaramanga   13  ingeniero mecanico  2796000
b  Esteban      M     Medellin   24           psicologo  2871000
c    Edith      F  Bucaramanga   59            escritor  3374000
d    Jairo      M       Cúcuta   60           psicologo  3309000
e     José      M         Cali   45           conductor  2495000

In [35]:
print(df.dtypes)

Nombre       object
Genero       object
Ciudad       object
Edad         object
profesion    object
salario       int32
dtype: object

In [36]:
df["Edad"]=pd.to_numeric(df["Edad"])
print(df["Edad"].dtype)

int64

In [37]:
print(df["Edad"]<30)

a     True
b     True
c    False
d    False
e    False
Name: Edad, dtype: bool

In [38]:
print(df[df["Edad"]<30])

    Nombre Genero       Ciudad  Edad           profesion  salario
a   Helena      F  Bucaramanga    13  ingeniero mecanico  2796000
b  Esteban      M     Medellin    24           psicologo  2871000

In [47]:
# nuevas filas
nuevas_filas = [
    {"Nombre":"Jairo","Genero":"M","Ciudad":"Cali","Edad":28},
    {"Nombre":"Milena","Genero":"F","Ciudad":"Cali","Edad":29}
]
df = pd.concat([df,pd.DataFrame(nuevas_filas)], ignore_index = True)
print(df)

     Nombre Genero       Ciudad  Edad           profesion    salario
0    Helena      F  Bucaramanga    13  ingeniero mecanico  2796000.0
1   Esteban      M     Medellin    24           psicologo  2871000.0
2     Edith      F  Bucaramanga    59            escritor  3374000.0
3     Jairo      M       Cúcuta    60           psicologo  3309000.0
4      José      M         Cali    45           conductor  2495000.0
5     Jairo      M         Cali    28                 NaN        NaN
6    Milena      F         Cali    29                 NaN        NaN
7     Jairo      M         Cali    28                 NaN        NaN
8    Milena      F         Cali    29                 NaN        NaN
9     Jairo      M         Cali    28                 NaN        NaN
10   Milena      F         Cali    29                 NaN        NaN

In [49]:
df["profesion"] = df["profesion"].fillna("Sin especificar")
df["salario"] = df["salario"].fillna(0)
print(df)

     Nombre Genero       Ciudad  Edad           profesion    salario
0    Helena      F  Bucaramanga    13  ingeniero mecanico  2796000.0
1   Esteban      M     Medellin    24           psicologo  2871000.0
2     Edith      F  Bucaramanga    59            escritor  3374000.0
3     Jairo      M       Cúcuta    60           psicologo  3309000.0
4      José      M         Cali    45           conductor  2495000.0
5     Jairo      M         Cali    28     Sin especificar        0.0
6    Milena      F         Cali    29     Sin especificar        0.0
7     Jairo      M         Cali    28     Sin especificar        0.0
8    Milena      F         Cali    29     Sin especificar        0.0
9     Jairo      M         Cali    28     Sin especificar        0.0
10   Milena      F         Cali    29     Sin especificar        0.0

In [52]:
ciudad = input("Ingresa por favor la ciudad de donde deseas consultar: ").capitalize()
df[df.Ciudad.str.contains(ciudad)]

Ingresa por favor la ciudad de donde deseas consultar:  Cali

    Nombre Genero Ciudad  Edad        profesion    salario
4     José      M   Cali    45        conductor  2495000.0
5    Jairo      M   Cali    28  Sin especificar        0.0
6   Milena      F   Cali    29  Sin especificar        0.0
7    Jairo      M   Cali    28  Sin especificar        0.0
8   Milena      F   Cali    29  Sin especificar        0.0
9    Jairo      M   Cali    28  Sin especificar        0.0
10  Milena      F   Cali    29  Sin especificar        0.0

In [53]:
print(df["Ciudad"])

0     Bucaramanga
1        Medellin
2     Bucaramanga
3          Cúcuta
4            Cali
5            Cali
6            Cali
7            Cali
8            Cali
9            Cali
10           Cali
Name: Ciudad, dtype: object

In [56]:
ciudades = df["Ciudad"].unique().tolist()
# print(ciudades)
ciudades_index = {idx: ciudad for idx, ciudad in enumerate(ciudades)}
print(ciudades_index)

['Bucaramanga', 'Medellin', 'Cúcuta', 'Cali']
{0: 'Bucaramanga', 1: 'Medellin', 2: 'Cúcuta', 3: 'Cali'}

In [67]:
print("Ciudades disponibles para la consulta: ")
for idx, ciudad in ciudades_index.items():
    print(f"{idx}. {ciudad}")

num_eleccion = int(input("Ingresa el número de la ciudad que deseas consultar: "))
ciudad_eleccion = ciudades_index[num_eleccion]
df[df.Ciudad.str.contains(ciudad_eleccion)]

Ciudades disponibles para la consulta:
0. Bucaramanga
1. Medellin
2. Cúcuta
3. Cali

Ingresa el número de la ciudad que deseas consultar:  1

    Nombre Genero    Ciudad  Edad  profesion    salario
1  Esteban      M  Medellin    24  psicologo  2871000.0